
@{
    ViewData["Title"] = "Index";
}

<h1>Contact us</h1>

<p>If you have any questions please do not hestitate to contact us:</p>

<email address="biaaly13@gmail.com" content="Email us"></email>


