<li class="nav-item dropdown">
    <a class="nav-link text-dark dropdown-toggle" asp-controller="Pizza" asp-action="Index" data-toggle="dropdown">Pizza</a>

    <ul class="dropdown-menu">
        @foreach (var category in Model)
        {
            <li>
                <a class="nav-link text-dark" asp-controller="Pizza" asp-action="Index" asp-route-category="@category.Name">@category.Name</a>
            </li>
        }       
        <li>
            <a class="nav-link text-dark" asp-controller="Pizza" asp-action="Index" asp-route-category="">View All Pizza</a>
        </li>
    </ul>
</li>

