
@{
    ViewData["Title"] = "Change Password Confirmation";
}

<h1 class="text-center text-info">Change Password Confirmation</h1>

<h4 class="text-center text-info">
    Your password is successfully changed.
</h4>

