@{
    ViewData["Title"] = "ConfirmEmail";
}

 <h3>Thank you for confirming your email.</h3>

<h4>You can login in now, <a asp-controller="Account" asp-action="Login" class="btn btn-link">Log in</a></h4>

           

