
@{
    ViewData["Title"] = "Register Successed";
}

<h1 class="text-center">Registration successful</h1>
<hr />

<h4 class="text-center text-info">
    Before log in, please confirm your email, by clicking on the confirmation link.
</h4>