
@{
    ViewData["Title"] = "RegisterSuccessed";
}

<h1 class="text-center text-success">Registration successful</h1>

<h3 class="text-info">
    Before log in, please confirm your email, by clicking on the confirmation link.
</h3>