@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<h1 class="text-center text-info">Reset Password Confirmation</h1>

<h4 class="text-center">
    Your password is reseted. Please click <a asp-action="Login">here to login</a>
</h4>

