@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<h1 class="text-center">Reset Password Confirmation</h1>
<hr />

<h4 class="text-center text-info">
    Your password is reseted. Please click <a asp-action="Login"> here to login</a>
</h4>

