@model ShoppingCartIndexViewModel

    <li class="nav-item">
        @if (Model.Items.Any())
        {
            <a class="nav-link text-dark" asp-controller="ShoppingCart" asp-action="Index">
                <span><i class="fa fa-shopping-cart"></i></span>
                <span class="badge badge-dark">@Model.Items.Sum(x => x.Amount)</span>
            </a>
        }
    </li>
