@model PizzaIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Pizzas</h1>
<hr />
<h3 class="text-center mb-5">Category: @Model.CurrentCategory</h3>

<div class="row">
    @foreach (var pizza in Model.Items)
    {
        @await Html.PartialAsync("_PizzasSummary", pizza);
    }
</div>